@import 'normalize';
@import 'layout';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500%7CRoboto:400,900');

$primary-color:#ffcc00;
$text-color:#333333;
$light-grey:#898f8f;
$dark-grey:#666666;

$base-font-family:'Raleway',
sans-serif;
$header-font-family:'Roboto',
sans-serif;

body {
	font: 400 16px/1.5 $base-font-family;
	color: $text-color;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	font-family: $header-font-family;
	font-weight: 900;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $text-color;
	}
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;

	&:hover,
	&:focus {
		color: #000;
	}
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

.ba-section {
	padding: 100px 0;
}

.ba-section-title {
	text-align: center;
	color: $primary-color;
	text-transform: uppercase;
	font-size: 60px;
	/* Approximation due to font substitution */
	font-weight: 900;
	line-height: 1;
	position: relative;
	margin-bottom: 44px;

	&:after {
		display: block;
		content: '';
		height: 1px;
		background-color: $primary-color;
		max-width: 400px;
		margin: 45px auto 0;


	}

	&__icon {
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 50%);
		fill: $primary-color;
		padding: 0 6px;
		box-sizing: content-box;
		background-color: #fff;
	}

}

.ba-section-suptitle {
	text-align: center;
}


.ba-crewman {
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		display: block;
	}

	&__col-img {
		flex-basis: 50%;
		padding: 10px 84px 10px 46px;
		display: flex;
		justify-content: center;
		overflow: hidden;

		@media (max-width: 768px) {
			padding: 20px;
		}


		img {
			position: relative;
			border: 1px solid $primary-color;
			display: block;
			z-index: 1;
		}
	}

	&__col-info {
		flex-basis: 50%;
		padding: 90px 46px 90px 84px;
		text-align: center;
		border-left: 1px solid $primary-color;

		@media (max-width: 768px) {
			border-left: 0;
			padding: 30px;
			border-top: 1px solid $primary-color;
			margin-top: 30px;

		}
	}

	&-img__wrap {
		border: 1px solid $primary-color;
		padding: 10px;
		position: relative;

		&:before,
		&:after {
			z-index: 0;
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			background: #fff;
			transform: rotate(45deg);

		}
	}
}

.ba-crewman__name {
	color: #666666;
	font-size: 36px;
	font-weight: 900;
	line-height: 24px;
	/* Approximation due to font substitution */
	text-align: center;
}